#main-content {
  padding: 3px;
  height: 100%;
  width: 100%;
  margin: auto;
 
}

.evento {
  margin: 10px auto;
  height: auto;
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
}

#imgevent {
  
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

#event .content {
   border-radius: 10px; /* Ajusta esto para que sea más rectangular */
  padding: 10px;
  color: white;
  font-size: 14px;
}

#event .content p {
  margin: 0;
}

#event .content .title {
  font-weight: bold;
  font-size: 18px;
}

#EventInfo {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}
